div.login,
div.signup {
    position: absolute;
}
.main-div {
    display: flex;
    flex-wrap: wrap;
}

.main-div > div {
    flex: 50%;
}
.main-div img {
    width: 300px;
    margin-left: 20%;
}

div.signup,
p.p2 {
    visibility: hidden;
}
a,p {
    position: absolute;
    bottom: 50%;
}

p.p1, p.p2 {
    color: blueviolet;
    cursor: pointer;
}

